<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="/">Homepage</a></li>
    <li><a href="https://github.com/api-evangelist-search/bing-search">GitHub Repo</a></li>
    <li><a href="https://github.com/api-evangelist-search/bing-search/issues">GitHub Issues</a></li>
    <li><a href="https://github.com/api-evangelist-search/bing-search/tree/master/store">GitHub Store</a></li>
    <li><a href="http://apievangelist.com">Back To API Evangelist</a></li>
  </ul>
</nav>
